{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <section class="body-font {{ background_color }}">
        <div class="container py-8 px-4 lg:py-16 lg:px-12 mx-auto">

          {% if content.field_title or content.field_description %}
            <div class="flex flex-wrap w-full flex-col items-center mx-auto max-w-screen-xl text-center lg:px-12">
              {% if content.field_title %}
                <h2 class="text-4xl font-extrabold md:text-5xl xl:text-6xl tracking-tight leading-none title-font mb-2 {{ text_color }}">
                  {{ content.field_title }}
                </h2>
              {% endif %}
              {% if content.field_description %}
                <div class="mb-8 text-lg font-normal lg:text-xl text-gray-500">
                  {{ content.field_description }}
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% if content.field_card|render %}
            <div class="flex flex-wrap m-4 justify-items-center">
              {{ content.field_card }}
            </div>
          {% endif %}

          {% if content.field_button|render %}
            <button class="flex mx-auto mt-2 text-white bg-blue-700  border-0 py-2 px-8 focus:outline-none hover:bg-blue-800 rounded text-lg">
              {{ content.field_button }}
            </button>
          {% endif %}

        </div>
      </section>
    {% endblock %}
  </div>
{% endblock paragraph %}
